{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'auth.css' %}" />
    <title>Reset Password</title>
  </head>
  <body>
    <!-- Body -->
    <div id="wrapper-reset">
      <div class="main-content">
        <div class="header">
          <!-- logo here -->
          <h1>FAO</h1>
          <!-- <img src="https://i.imgur.com/zqpwkLQ.png" /> -->
        </div>
        <div>
          <h4>Enter your Password</h4>
          <br />
          <style>
            h5 {
              color: red;
            }
          </style>
          {% for message in messages %}
          <h5>{{message}}</h5>
          {% endfor %}
        </div>

        <!-- forum -->
        <form action="" method="POST">
          {% csrf_token %}
          <div class="l-part">
            <input
              type="password"
              name="password"
              class="input"
              placeholder="Old Password"
            />
            <input
              type="password"
              name="password1"
              class="input"
              placeholder="New Password"
            />
            <input
              type="password"
              name="password2"
              class="input"
              placeholder="Confirm New Password"
            />
            <br />
            <br />
            <button type="submit" class="btn">Confirm</button>
            <!-- <input type="button" value="Log in" class="btn" /> -->
          </div>
        </form>
      </div>
      <br />
      <!-- <div class="sub-content">
        <div class="s-part">
          Don't have an account?<a href="/signup">Sign up</a>
        </div>
      </div> -->
    </div>
  </body>
</html>
