{% load static %} {% load post_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAI-Profile</title>
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script
      src="https://kit.fontawesome.com/a26c7d01cd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  {% comment %} {% load isliked %} {% endcomment %}
  <body>
    <nav>
      <div class="nav0">
        <i class="fa-solid fa-f change-color fa-2xl"></i>
        <i class="fa-solid fa-a change-color fa-xl"></i>
        <i class="fa-solid fa-i-cursor change-color fa-xl"></i>
      </div>
      <div class="nav1">
        <ul>
          <li>
            {% comment %} redirect to home page {% endcomment %}
            <a href="{% url 'home' %}">
              ><button class="btn">
                <img src="{% static 'image/home-edit.png' %}" alt="" />
              </button>
            </a>
          </li>
          <li>
            <button class="btn">
              <img src="{% static 'image/notification.png' %}" alt="" />
            </button>
          </li>
          <li>
            <button class="btn">
              <img src="{% static 'image/message.png' %}" alt="" />
            </button>
          </li>
        </ul>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="nav2">
          <div class="search">
            <input type="text" placeholder="search" name="search" required />
          </div>
          <button type="submit" class="btn-2">
            <i class="fa-solid fa-magnifying-glass fa-2xl change-color"></i>
          </button>
        </div>
      </form>
      <div class="nav3">
        <div class="dropdown">
          <button class="btn" type="button" data-toggle="dropdown">
            <img src="{{user_profile.profileimg.url}}" alt="" class="bgimg" />

            <span></span>
          </button>
          <ul class="dropdown-menu">
            <li style="font-size: 1.5rem"><a href="/profile/{{user_profile.username}}">Profile</a></li>
            <li style="font-size: 1.5rem"><a href="#">Settings</a></li>
            <li style="font-size: 1.5rem"><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
     <div class="postshow">
        {% comment %} post start {% endcomment %}
          <div class="container-3">
            <div class="top-frame">
             <div class="usericon">
              {% with post.id|get_by_post as post_profile %}
               <a href="/profile/{{post.username}}"> <img src="{{post_profile.profileimg.url}}" alt="" class="bgimg" /> 
               </a> 
                {% endwith %}
             <a href="/profile/{{post.username}}">
              <span class="frame-name">@{{post.username}}</span>
              </a> 
              <span class="frame-option">
                <div class="dropdown">
              <button class="btn  " type="button" data-toggle="dropdown">
                <i class="fa-solid fa-ellipsis fa-2xl"></i>
               <span ></span></button>
               
               <ul class="dropdown-menu">
                {% if post.username == request.user.username %}
                <li style="font-size: 1.5rem"><a href="{{post.post_image.url}}" download>Download Image</a></li>
                 <li style="font-size: 1.5rem"><a href="#" onclick="copyText()">Edit Caption</a></li>
                 <li style="font-size: 1.5rem"><a href="http://127.0.0.1:8000/post/{{post.id}}"  onclick="copyURI(event)">Copy Post Link</a></li>
               <li style="font-size: 1.5rem" ><a href="/deletepost?id={{post.id}}">delete</a></li>         
               {% else %}
               <li style="font-size: 1.5rem"><a href="{{post.post_image.url}}"
                download >Download Image</a></li>
                <li style="font-size: 1.5rem"><a href="http://127.0.0.1:8000/post/{{post.id}}"  onclick="copyURI(event)">Copy Post Link</a></li>
               <li style="font-size: 1.5rem" ><a href="#">Report</a></li>
               {% endif %}
               </ul>
               <script>
        function copyURI(evt) {
    evt.preventDefault();
    navigator.clipboard.writeText(evt.target.getAttribute('href')).then(() => {
      /* clipboard successfully set */
    }, () => {
      /* clipboard write failed */
    });
}
    </script>
               </div>
              </span>
              {% load tz %}
               <span class="frame-time">Posted At {{post.posted_at}}</i></span>        
              </div>
             </div>
             <div class="body-frame">
                      {{post.caption}}
             </div>
             <div class="body-image">
                      <a href="{{post.post_image.url}}">
                      <img src="{{post.post_image.url}}" alt="" class="bdimg"/> </a>
             </div>
             <div class="bottom-frame">
                      <button
                      id = "like"
                      class="btn profile-settings-btn"
                     aria-label="profile settings"
                     onclick="like('{{post.id}}')"
                      >
                     <i class="fa-solid fa-heart fa-2xl frame-icon"  class="frame-icon"></i>
                     <span id="{{post.id}}"></span>                     
                     </button>
                     <button
                      class="btn profile-settings-btn"
                     aria-label="profile settings"
                     id = "show"
                     onclick = "openMessage('{{post.id}}')"
                      >
                     <i class="fa-solid fa-message fa-2xl frame-icon" aria-hidden="true"></i>
                     <span>Send message</span>
                     </button>
                     <div class="center hideform" id="message{{post.id}}">
    <button id="close" class="btn-3" style="float: right;" onclick="closeMessage('{{post.id}}')">X</button>
    <form method="POST" id="message-form{{post.id}}">
      {% csrf_token %}
        Send Message to {{post.username}}:<br>
        <input type="hidden"  name="name" id="send_message_username{{post.id}}" value="{{post.username}}">
        <input type="text" name="text" placeholder="Type Something" id="send_message_text{{post.id}}" class="inputcom">
        <br>
        <input type="button" class="btn-2" id="sendM" value="Send" onclick="event.preventDefault(); sendMessageText('{{post.id}}')">
    </form>
</div>
                     
              </div>
             <div class="like-show">
                      <i class="fa-solid fa-heart  like-icon"  ></i>  Liked By <span id="{{post.id}}/likedby"></span>
             </div>
            <form  method="POST" id="comment-form{{post.id}}" >
                {% csrf_token %}
                <input class="inputcom" type="hidden"  name="comment" id="comment{{post.id}}" value="{{post.id}}">
                <input class="inputcom" type="text"  name="comment" id="text{{post.id}}" placeholder="Write Something" required>
                <input type="button" class="btn-2" id="postcomment" value="Comment" onclick="event.preventDefault(); commentsub('{{post.id}}')">
                {% comment %} <button type="submit" class="btn-2" id="postcomment">Comment</button> {% endcomment %}
              </form>
              {% for comment in comments %}
               <div class="showcomment">
                {% with comment.username|get_by_name as comment_profile %}
                     <a href="/profile/{{comment.username}}"> <img src="{{comment_profile.profileimg.url}}" alt="" class="commentimg" /></a> 
                     <a href="/profile/{{comment.username}}">
                  {% endwith %}                 
              <span class="comment-name">@{{comment.username}}</span>            
              </a> 
              <span class="comment-option">
                <div class="dropdown">
              <button class="btn  " type="button" data-toggle="dropdown">
                <i class="fa-solid fa-ellipsis fa-xl"></i>
               <span ></span></button>
               
               <ul class="dropdown-menu">
                {% comment %} {% if post.username == request.user.username %} {% endcomment %}
                <li style="font-size: 1.5rem"><a href="#">Delete</a></li>
               </ul>
               </div>
              </span>
               <p class="comment-text">{{comment.text}}
                </p>
                
               </div>
               {% endfor %}
               
          </div>

          {% comment %} post end {% endcomment %}
        </div>
        <script src="{% static 'test.js' %}"></script>
        <script>                       
              loadlike()                                     
                    function like(status){
                        console.log(status)
                           $.ajax({
                             type: 'GET',
                             url: "{% url 'like' %}",
                             data: {'id':status},
                             success: function (data) {
                               console.log(data) 
                               if(data.value==1){
                               document.getElementById(status).innerHTML ="Unlike";
                              }else{
                                 document.getElementById(status).innerHTML ="like";
                               }
                               status = status+"/likedby";
                               console.log(status)
                                document.getElementById(status).innerHTML =data.likedby;                       
                             },
                             error: function () {
                               alert('error')
                             },
                           })
                         }
                      function commentsub(postid){
                              ids = "#comment"+postid;
                              te = "#text"+postid;
                              console.log(ids) 
                          $.ajax({
                             type: 'POST',
                             url: "{% url 'comment' %}",
                             data: {
                                 text:$(te).val(),
                                 id:$(ids).val(),
                                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                             },
                             success: function (data)         {                     
                              console.log(data) 
                              },
                             error: function () {
                               alert('error')
                             },
                           })
                           cmd = "comment-form"+postid;
                          document.getElementById(cmd).reset();                
                        }
                        
                      function sendMessageText(postid){
                          ids = "#send_message_username"+postid;
                          te = "#send_message_text"+postid;
                          $.ajax({
                             type: 'POST',
                             url: "{% url 'sendMessage' %}",
                             data: {
                                 text:$(te).val(),
                                 name:$(ids).val(),
                                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                             },
                             success: function (data)         {                     
                              console.log(data) 
                              },
                             error: function () {
                               alert('error')
                             },
                           })
                           cmd = "message-form"+postid;
                          document.getElementById(cmd).reset();
                       }
                         
                       function loadlike() {
                        var status= "{{post.id}}"
                        console.log(status)
                           $.ajax({
                             type: 'GET',
                             url: "{% url 'Liked' %}",
                             data: {'id':status},
                             success: function (data) {
                              console.log(data)
                               if(data.value==1){
                               document.getElementById('{{post.id}}').innerHTML ="Unlike";
                              }else{
                                 document.getElementById('{{post.id}}').innerHTML ="like";
                               }
                               document.getElementById('{{post.id}}/likedby').innerHTML =data.likedby;                            
                             },
                             error: function () {
                               alert('error')
                             },
                           })
                         }
                       
          </script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
